*{
    margin:0px;
    padding:0px;
}

.nav{
    display: flex;
    width: 2000px;
    background-color: rgba(2, 1, 1, 0.918);
    margin-top :0px;
  
}
.amazon{
   
    color:orange;
    margin-right: 150px;
    margin-top:0px;
   
}
.account{
    margin-right: 150px;
    color: aliceblue;
    font-weight: bold;
}
.mycart{
    margin-right: 150px;
    color: aliceblue;
    font-weight: bold;
}
.contactus{
    margin-right: 150px;
    color: aliceblue;
    font-weight: bold;
}
.searchbar{
    margin-top:0px;

 
}
.button{
    text-align: center;
    margin-top:15px;
    background-color:orange; 
    color:white;
   height: 21.2px;
   margin-top:0px;
   
}