.box1{
    background-color: blue;
    height: 150px;
    width: 150px;
}
.box2{
    background-color: brown;
    height: 150px;
    width: 150px;
    /* visibility: hidden; */
    /* hidden but still exists */
    display:none;
}
.box3{
    background-color: blueviolet;
    height: 150px;
    width: 150px;
}